.region-header {
    text-align: center !important;
    /*background-color:black;*/
    padding: 0;
}

.region-header .site-branding {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
}

@media all and (min-width: 900px) {
    .region-header .site-branding {
        margin-bottom: -40px;
    }
}

@media all and (min-width: 500px) {
    .region-secondary-menu {
        height: 10px;
    }
}

#header {
    background-color:black !important;
}

@media all and (min-width: 00px) and (max-width: 905px) {
    #header{
        background-image: linear-gradient(to bottom, #fbfbfb00 0%,rgba(0,0,0,0.1) 100%),
        URL('../../images/skyline_1_gray.jpg') !important;
        background-size: cover;
    }
}

.region-primary-menu .menu li a{
    border: solid 1px black;
    background-color:#f3f3f3ed;

}

.region-primary-menu .menu li a:hover{
    background-color: #fffdf7;
    /*     box-shadow: inset 0px 0px 20px 1px #2199ff; */
    text-shadow: 1px 1px #c5c5c59c;

}

.region-primary-menu .menu li a.is-active {
    border: 1px solid #000000;
}

.region-primary-menu .menu li a.is-active:hover {
    box-shadow:none;
}

@media all and (min-width: 900px) {
    #header{

        background-image: linear-gradient(to bottom, #fbfbfb00 0%,rgba(0,0,0,0.1) 100%),
        URL('../../images/skyline_1_gray.jpg') !important;

        background-size: 1100px 150px;
        background-repeat:no-repeat;
        background-position:center;
    }

    .region-primary-menu .menu li a{
        border-bottom: 0;
    }

    .region-primary-menu .menu li a.is-active {
        border-bottom: 0;
    }

}


#main-wrapper,
.layout-container
{
    max-width:1000px;
}

.site-footer__bottom {
    display:none;
}

#block-bartok-local-tasks {
    margin-bottom: 25px
}

p, h2, h3, h4, h5, a, span {
    font-family:initial
}

p, a, #header li {
    font-size:11pt
}

#header li {
    font-weight:bold;
}

#page,
#main-wrapper
{
background: transparent;
}

#page{
background-color:#000000;
background-image: url("https://wallpaperlayer.com/img/2015/5/dark-background-pictures-5800-6064-hd-wallpapers.jpg");
background-attachment:fixed;
background-size:cover;
}
#content{
background-color:#fffdf7;
border-radius:10px;
border: 1px solid #419ff1
}

.region-content{
max-width: 95%;
float:none;
margin-left:auto;
margin-right:auto;
padding-bottom:3%;
}




